{% extends "base.html" %}{% load static %} {% block content %}
<style>
    .login-container {
        background-color: #4c5d88;
        border: 1px solid #dddddd;
        border-radius: 5px;
        padding: 20px;
        margin-top: 50px;
    }

    .login-container h1 {
        text-align: center;
        margin-bottom: 20px;
        color: #ffffff;
    }

    .login-container form label {
        color: #ffffff;
    }

    .login-container form .form-control {
        margin-bottom: 15px;
    }

    .login-container form .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .login-container form .btn-primary:hover {
        background-color: #0069d9;
        border-color: #0069d9;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8 login-container">
            <h1>Login</h1>
            <form method="post" action="{% url 'qr:login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        placeholder="Enter your email address"
                        name="email"
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        placeholder="Enter your password"
                        name="password"
                    />
                </div>
                <div class="form-group form-check">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        id="rememberMe"
                        name="remember-me"
                    />
                    <label class="form-check-label" for="rememberMe"
                        >Remember Me</label
                    >
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
