{% load static %}

<style>
    #header_top {
        background-color: #4c5d88;
    }
    img {
        height: 45px;
        width: 220px;
    }

    .cart-icon {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: #000;
    }

    .cart-icon .bi {
        font-size: 1.5rem;
    }

    .cart-count {
        display: inline-block;
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;
        min-width: 1rem;
        padding: 0.2rem;
        font-size: 0.8rem;
        font-weight: bold;
        color: #fff;
        background-color: #f00;
        border-radius: 50%;
        text-align: center;
    }

    .nav-item a {
        color: rgba(0, 0, 0, 0.55);
    }

    .nav-link:focus {
        outline: none;
    }

    .nav-item {
        padding: 5px;
        align-items: center;
        display: flex;
    }

    .search-btn {
        display: flex;
        align-items: center;
        gap: 0;
        width: 240px;
        height: 35px;
        line-height: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-left: 10zpx;
    }

    #search-input {
        border: none;
        outline: none;
        padding: 5px;
    }

    @media (max-width: 991px) {
        .nav-item {
            padding: 5px;
            align-items: center;
            display: flex;
            border-bottom: 1px solid #ccc;
        }
    }

    @media (min-width: 991px) {
        .navbar-nav {
            justify-contents: center;
            align-items: center;
        }
    }
</style>

<nav
    id="header_top"
    class="navbar navbar-expand-lg bg-body-tertiary"
    style="background-color: #4c5d88"
>
    <div class="container-fluid p-3">
        <a class="navbar-brand" href=""
            ><img alt="Couzy" src="{% static 'images/couzy.jpg' %}"
        /></a>
        <!--		<a class="navbar-brand" href="https://metabolomicscentre.ca/"><img alt="Metabolic" src="{% static 'img/metabolic.svg' %}"></a>-->
        <button
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler"
            data-bs-target="#navbarSupportedContent"
            data-bs-toggle="collapse"
            type="button"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" href=""
                        >Home</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""> About </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="">Services</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'qr:login' %}"> Log In </a>
                </li>

                <li class="nav-item">
                    <a href="#" target="_blank"
                        ><i class="bi bi-linkedin"></i
                    ></a>
                </li>
                <li class="nav-item">
                    <a href="#" target="_blank"
                        ><i class="bi bi-twitter"></i
                    ></a>
                </li>

                <li class="nav-item">
                    <a href="#" target="_blank"
                        ><i class="bi bi-facebook"></i
                    ></a>
                </li>

                <li class="nav-item" id="cart-icon-placeholder"></li>
            </ul>
        </div>
    </div>
</nav>
<hr />

<script>
    $(function () {
        var cart = JSON.parse(getCookie("cart") || "{}");
        var count = Object.values(cart).reduce(
            (total, item) => total + item.quantity,
            0
        );
        if (count > 0) {
            $("#cart-icon-placeholder").html(
                '<a href="" class="cart-icon"><i class="bi bi-cart-fill"></i><span class="cart-count">' +
                    count +
                    "</span></a>"
            );
        }
    });

    function getCookie(name) {
        var match = document.cookie.match(
            new RegExp("(^| )" + name + "=([^;]+)")
        );
        if (match) {
            return decodeURIComponent(match[2]);
        }
        return null;
    }
</script>
